<section class="modal2-overlay" id="overlay">
  <div class="modal2" id="modal2">
    <div class="modal2-header">
      <h3>Remover Vinho</h3>
      <a href="/" id="close-modal-put">X</a>
    </div>
    <div class="modal2-body">
      <p>Tem certeza que Deseja excluir <%= vinhoIdDel.nome %></p>
      <div id="btns-del">
        <a id="no" href="/">Não</a>
        <a id="yes" href="/remove/<%= vinhoIdDel.id %>">Sim</a>
      </div>
    </div>
  </div>
</section>
