<nav>
  <ul>
    <li><img src="" alt="" /></li>
    <li><a id="/" href="/">Inicio</a></li>
    <li><a id="vinhoTinto" href="/vinhosTintos">Vinhos Tinto</a></li>
    <li><a id="vinhoBranco" href="/vinhosBrancos">Vinhos Branco</a></li>
  </ul>
</nav>
